@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito sans', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.flex{
    display: flex;
    justify-content: space-between;
}

nav {
    padding: 30px 20px;
}

.links{
    list-style: none;
    display: flex;
}

.links li{
    margin: 0px 15px;
}

.btn{
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 20px;
    margin-top: 30px;
}

.btn:hover{
    background-color: blueviolet;
    color: white;
    border: 3px solid #fff;
}

h1{
    font-size: xx-large;
}